body{
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
}
.landingpage{
    margin:0px;
    background-image: url(pexels-simon-berger-1323550.jpg);
    background-size:cover;
    background-position:center;
    height:fit-content;
}

body, #starters,header {
    margin:0px;
}


header {
    display:flex; 
   
}  

header a{
    font-size: 1.5em;
    margin:20px;
    text-decoration:none;
    display:inline;
}


#logo {
    display:flex;
    margin-left:20px;
    flex:3;
    
    
}

#logo{
    margin-top:15px;
}
#logo  i{
    margin-top:-8px;
    font-size: 1.5em;
    margin-right:10px;
}
nav{
  
    display:flex;
    flex:2;
}

nav a{
    color:rgb(6, 153, 198);
    flex:1;
   
}

#contant {
    display:flex;
    margin-left:10%;
    margin-top: 10%;
    flex-direction: column;
   
}


.h2{
    color:rgb(17, 40, 190);
}

.h1{
    color:red;
    display:flex;
}

button {
    background-color: bisque;
    border-radius: 10px;
    font-size: 1.25rem;
    font-weight: bold;
    padding:15px 3px ;
    border:2px solid bisque;
    width:7rem;
    /* box-sizing: border-box; */
    margin-bottom:30px;
}
 button:active{
 border:3px solid blue;

}

 button:hover{
    background-color: aquamarine;
}
header a:hover{
    border:1px solid azure;
}

#h2 {
    font-size: 1.75rem;
    color:#E9D758;
    display:flex;
    justify-content: center;
    background: linear-gradient(rgba(7, 0, 0, 0.934),rgba(2, 0, 0, 0.833)); 
}
#starters {
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap:10px; 
    background: linear-gradient(rgba(7, 0, 0, 0.929),rgba(2, 0, 0, 0.751));  
    height:auto;
    width:auto;
    
   
}
#starters div{
    display:flex;
    justify-content:center;
    flex:1;
    margin:1.25em;

}

table tr{
    display:flex;
    justify-content: center;
    margin-bottom:1.2em;
}
table td:nth-child(1){
    justify-self:right;
    flex:1;
}
table td:nth-child(2){
    justify-content: right;
}

table {
    width:100%;
}

.active {
    grid-row:span 2;
}
@media (max-width:350px)
{
    header {
        flex-wrap: wrap;
        /* flex-direction: row; */
    }

    
    /* table tr{
        display:flex;
        /* justify-content: center; */
   

     table td:nth-child(1){
        justify-self:left;
         flex:1; 
     }
    table td:nth-child(2){
        justify-content: right;
        flex:1;
    }  
    #starters div{
        display:flex;
        justify-content:center;
        flex:1;
        margin:1.25em;
        width:250px;
    
    }
   
}
@media(max-width:810px){
    header #logo{
        flex:1;
    }
  nav a{
    flex:1;
   }

}